@page "{id:guid}/{inspectionTypeId:int}"
@model FCDBApi.Pages.InspectionSheets.DetailsModel

@{
    ViewData["Title"] = "Inspection Details";
}

<h1>Inspection Details</h1>

<h4>InspectionTable</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.InspectionTable.Branch)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InspectionTable.Branch)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.InspectionTable.VehicleReg)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InspectionTable.VehicleReg)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.InspectionTable.VehicleType)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InspectionTable.VehicleType)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.InspectionTable.Odometer)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InspectionTable.Odometer)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.InspectionTable.InspectionDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InspectionTable.InspectionDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.InspectionTable.NextInspectionDue)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InspectionTable.NextInspectionDue)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.InspectionTable.PassFailStatus)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InspectionTable.PassFailStatus)
            </dd>
            <dt class="col-sm-3">
                Inspection Details
            </dt>
            <dd class="col-sm-9">
                <ul>
                    @foreach (var detail in Model.InspectionTable.Details)
                    {
                        var itemName = Model.CategoriesWithItems
                        .SelectMany(c => c.Items)
                        .FirstOrDefault(i => i.InspectionItemID == detail.InspectionItemID)?.ItemDescription;
                        <li>
                            @itemName - Result: @detail.Result
                            @if (!string.IsNullOrEmpty(detail.Comments))
                            {
                                <br />
                                <strong>Comments:</strong> @detail.Comments
                            }
                        </li>
                    }
                </ul>
            </dd>
            @if (Model.Signatures != null)
            {
                @foreach (var signature in Model.Signatures)
                {
                    <dt class="col-sm-3">
                        @signature.SignatoryType Print
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => signature.Print)
                    </dd>
                    <dt class="col-sm-3">
                        @signature.SignatoryType Signature
                    </dt>
                    <dd class="col-sm-9">
                        @if (signature.SignatureImage != null)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(signature.SignatureImage)" alt="@signature.SignatoryType Signature" />
                        }
                        else
                        {
                            <p>No Signature</p>
                        }
                    </dd>
                }
            }
        </dl>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
