@page
@model FCDBApi.Pages.InspectionSheets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="./SelectInspectionType">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Branch
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionTable[0].VehicleReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionTable[0].VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionTable[0].InspectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionTable[0].NextInspectionDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionTable[0].PassFailStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InspectionTable)
        {
            <tr>
                <td>
                    @{
                        if (item.SiteID.HasValue && Model.SiteNames.TryGetValue(item.SiteID.Value, out var siteName))
                        {
                            @siteName
                        }
                        else
                        {
                            @("Unknown Site")
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleReg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextInspectionDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassFailStatus)
                </td>

                <td>
                    <a asp-page="/InspectionSheets/Details" asp-route-id="@item.InspectionID" asp-route-inspectionTypeId="@item.InspectionTypeID">Details</a>
                    <a asp-page="/InspectionSheets/Edit" asp-route-id="@item.InspectionID" asp-route-inspectionTypeId="@item.InspectionTypeID">Edit</a>
                    <a asp-page="/InspectionSheets/Delete" asp-route-id="@item.InspectionID" asp-route-inspectionTypeId="@item.InspectionTypeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
